.compForm {
    display: block;
    box-sizing: border-box;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.formLabel {
    margin-bottom: 1rem;
}

.formInput {
    font-size: 14px;
    height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.formButton {
    font-size: 14px;
    color: white;
    background-color: black;
    height: 2rem;
    width: 100%;
}