doctype html
html
  head
    title=page_title
    meta(charset="utf-8")
    
    block fonts
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet")

    block css
      link(rel="stylesheet" href="/css/app.css" type="text/css")
    block scripts
      script(src="/js/empty.js")
    body
      block head
        nav
          ul(id="nav_link_block")
            li
              a(href="/" class="nav_link") Home
            li
              a(href="/bar" class="nav_link") V-Bar
            li
              a(href='/room' class="nav_link") Private Room
            // Right-aligned
            if loggedIn 
              li
                a(href='/logout' class="nav_link_right") Logout
              li
                a(href="/" class="nav_link_right")=username
            else
              li
                a(href="/signup" class="nav_link_right") Sign Up
              li
                a(href='/login' class="nav_link_right") Login
      section(id="main_content")
        block content
      block footer
        // Add /terms-and-conditions link and /privacy-policy link
        p(id="footer_content") &copy 2021 - Club ReRem