/*
 *
 * COLOUR PALLETE:
 * C1: #6D6A75 - purple-type colour
 * C2: #BFBDC1 - grey-type colour
 */

body {
  padding: 0;
  margin: 0;
  color: #6D6A75; 
  background-color: #BFBDC1;
  font-family: 'Rubik', sans-serif;
}

#page_head {
  font-size: 32px;
  text-align: center;
}

#nav_link_block {
  box-sizing: border-box;
  background-color: #6E647D;
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 3rem;
}

.nav_link {
  font-size: 21px;
  float: left;
  margin-left: 1rem;
  color: #BFBDC1;
  text-decoration: none;
}

.nav_link_right {
  font-size: 21px;
  float: right;
  margin-right: 2rem;
  color: #BFBDC1;
  text-decoration: none;
}

.nav_link:visited {
  color: #BFBDC1;
  text-decoration: none;
}

.nav_link:hover {
  color: #BFBDC1;
}

#footer_content {
  box-sizing: border-box;
  color: #BFBDC1;
  background-color: #6E647D;
  position: absolute;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin: 0;
  bottom: 0;
  width: 100%;
}

#signup-form {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13.5rem;
}

#signup-form input {
  box-sizing: border-box;
  padding-top: .3rem;
  padding-bottom: .3rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 0.2rem solid #6D6A75;
  background-color: #9f99b1;
  color: rgb(201, 199, 199);
  font-weight: bold;
}

#signup-form input[type="submit"] {
  background-color: #6D6A75;
  color: #BFBDC1;
  font-weight: bold;
  border-radius: 1rem;
}

#room_invite_btn {
  background-color: #6D6A75;
  border: none;
  color: #BFBDC1;
  font-weight: bold;
  height: 1.5rem;
  width: 25%;
  margin-bottom: 1rem;
}