.list {
    display: block;
    box-sizing: border-box;
    width: 20rem;
    margin: auto;
    list-style-type: none;
}

.heading {
    text-align: center;
}

.createRoom {
    font-size: 16px;
    width: 10rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: auto;
    box-sizing: border-box;
    display: block;
    margin-bottom: 2rem;
    background-color: black;
    color: white;
}

.listItem {
    text-decoration: none;
    font-size: 21px;
    margin-bottom: 1rem;
}

.listItem:hover {
    color: gray;
}