
.pageTitle {
    text-align: center;
}

.pageDescription {
    text-align: center;
}

.roomMenu {
    margin-top: 1rem;
    width: 50rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.roomMenuItem {
    font-size: 1rem;
    flex: 1 1 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    color: white;
    border: none;
}

.roomMenuItemSelected {
    font-size: 1rem;
    flex: 1 1 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    border: none;
    border-bottom: 0.3rem solid gray;
    color: white;
}